:root {
    --color-principal:#111;
    --texto:#c59d5f;
    --funte:arial, sans-serif;
    --color-boton: #c59d5f;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1 {
    text-align: center;
    margin: 1rem 0;
    color: var(--texto);
    font-size:1.3rem;
}
.header {
    display:flex;
    justify-content: space-between;
    padding:16px;
    color:var(--texto);
}

.nav {
    background-color: var(--color-principal);
    color:var(--texto);
}

body {
    font-family: var(--funte);
    background-color: var(--color-principal);
    color: var(--texto);
    line-height:1.6;
}

a {
    text-decoration: none;
    color:white;
}

.servicios {
    justify-content: center;
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding:1rem;
}

.card {
    background-color:#222;
    padding:1.2rem;
    border-radius:12px;
    text-align:center;
}

@media (min-width:768px) {
    .servicios {
        flex-direction:row;
    }
}

img {
    max-width:100%;
    height:auto;
    display:block;
}

.contenedor-img {
    display:flex;
    flex-direction:column;
    gap:1rem;
    padding:1rem;
}

.icon-social {
    width:2.5rem;
    height:auto;
    display:inline-block;
    justify-items: center;
    margin: 0.5rem;
}

.cta {
    display:flex;
    text-align:center;
    margin:2rem 0;
    display:block;
}

.bcta {
    background-color: var(--color-boton);
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    width:10rem;
    height: auto;
    font-size:2rem;
    padding:1rem;
}

.bmaps {
    background-color: var(--color-boton);
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    width:15rem;
    height: auto;
    font-size:1.2rem;
    padding:1rem;
}


.icon {
    width:3rem;
    height:auto;
    margin:auto;
}

.social-float {
    position:fixed;
    left:12px;
    bottom:70%;
    display:flex;
    flex-direction:column;
    gap:12px;
    z-index: 999;
    width:3rem;
    height:3rem;
}

.mapa-section {
    margin:auto;
    text-align:center;
    width:95%;
    height:450px;
    padding-bottom: 2rem;
    justify-items: center;
}

.mapa-contenedor {
    margin:2%;
    width:96%;
    height:300px;
    border-radius:12px;
    padding-top:0.5rem;

}

.footer {
    margin-left:15%;
    margin-right:15%;
    text-align: center;
    font-size:0.9rem;
}

.line-first {
    border-bottom: grey 2px solid;

}

.line-second {
    border-bottom:grey 1px solid;
}

.text-index {
    text-align: center;
}